/* NB: variables are defined dynamically in the UI package */

body {
    background: var(--background-color);
    font-family: 'Orbitron', sans-serif;
    color: var(--main-color-light);

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.variable-dashboard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.variable-dashboard__item {
    box-shadow: 0 0 20px var(--main-color);
    border: 2px solid var(--main-color-light);
    border-radius: 0 0 10px 0;
    background-color: var(--main-color-dark);
    text-shadow: 0 0 10px var(--main-color);
    color: var(--main-color-light);
    padding: 5px;
    text-align: center;
    transition: all ease-out 200ms;
    margin: 0.5em;
    width: 20%;
}

@media (max-width: 500px) {
    .variable-dashboard {
        flex-direction: column;
        align-items: center;
    }

    .variable-dashboard__item {
        width: 90%;
    }
}

section {
    border: 5px solid var(--main-color-light);
    box-shadow: 0 0 20px var(--main-color);
    margin: 1em auto;
    width: 80%;
    padding: 2em;
    background-color: var(--main-color-dark);
    border-radius: 0 0 20px 0;
    animation: glowEffect 2.5s infinite;
    max-width: 800px;
}

.log-displayer__entry-group {
    margin-bottom: 2em;
}

.log-displayer__entry-group:last-of-type {
    margin-bottom: 0em;
}

.log-displayer__entry {
    text-align: justify;
    line-height: 1.6;
}

.choice-displayer__entries {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.choice-displayer__button {
    box-shadow: 0 0 10px var(--main-color);
    border: 2px solid var(--main-color-light);
    background-color: color-mix(in srgb, var(--main-color) 50%, var(--main-color-dark));
    color: var(--main-color-light);
    padding: 5px 50px;
    transition: all ease-out 200ms;
    font-family: 'Orbitron', sans-serif;
    margin: 0.2em;
    font-size: 16px;
    border-radius: 0 0 10px 0;
    width: 100%;
    line-height: 1.4;
}

.choice-displayer__button:active {
    background-color: transparent;
}

.choice-displayer__button:focus {
    border: 3px solid white;
}

.choice-displayer__cta {
    margin-top: 0;
}

@keyframes glowEffect {
    from {
        box-shadow: 0 0 10px var(--main-color);
    }

    50% {
        box-shadow: 0 0 22px var(--main-color);
    }

    to {
        box-shadow: 0 0 10px var(--main-color);
    }
}

.end-of-game-section__play-again {
    box-shadow: 0 0 10px var(--main-color);
    border: 2px solid var(--main-color-light);
    background-color: color-mix(in srgb, var(--main-color) 50%, var(--main-color-dark));
    color: var(--main-color-light);
    padding: 5px 50px;
    transition: all ease-out 200ms;
    font-family: 'Orbitron', sans-serif;
    margin: 0.2em;
    font-size: 16px;
    border-radius: 0 0 10px 0;
    width: 100%;
}

/* STARS */

.background {
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.background__stars {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image:
        radial-gradient(2px 2px at 20px 30px, #eee, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
    background-repeat: repeat;
    background-size: 200px 200px;
    animation: zoom 25s infinite;
    opacity: 0;
}

.background__stars:nth-child(1) {
    background-position: 50% 50%;
    animation-delay: 0s;
}

.background__stars:nth-child(2) {
    background-position: 20% 60%;
    animation-delay: -20s;
}

.background__stars:nth-child(3) {
    background-position: -20% -30%;
    animation-delay: -15s;
}

.background__stars:nth-child(4) {
    background-position: 40% -80%;
    animation-delay: -10s;
}

.background__stars:nth-child(5) {
    background-position: -20% 30%;
    animation-delay: -5s;
}

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0.5);
        animation-timing-function: ease-in;
    }

    85% {
        opacity: 1;
        transform: scale(2.8);
        animation-timing-function: linear;
    }

    100% {
        opacity: 0;
        transform: scale(3.5);
    }
}

audio {
    margin: 1em auto;
}

/* RESET CSS */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
